@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
    --font: 'Roboto', sans-serif;
    --textColor: whitesmoke;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100vh;
    background-color: #26262B;
    text-align: center;
}

.container{
    display: grid;
    grid-template-columns: 30% auto;
    height: 100%;
}

.container #left{
    padding: auto;
    padding-top: 20%;
}

.container > #left .logContainer{
    margin: auto;
    padding: 10px;
    border-radius: 25px;
    width: 250px;
    height: 350px;
}

i{
    color: white;
}

.container>#right{
    overflow: hidden;
}

#rightContent{
    position: absolute;
    z-index: 100;
    top: 15vh;
    right: 5%;
    font-family: var(--font);
    color: var(--textColor);
}

#rightContent > #infoContainer{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 10px;
    background-color: #26262B;
    padding: 10px;
}

#infoContainer > .contentInfo{
    border: 2px solid var(--textColor);
    transition: .4s;
}
/*Ligma*/

/*Bubble text generator: https://www.ilikepixels.co.uk/bubbler/*/
.bubble
{
    visibility: hidden;
    margin-top: 100px;
    position: fixed;
    right: 15%;
    width: 250px;
    height: auto;
    padding: 0px;
    background: #26262B;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 15px 15px;
border-color: #26262B transparent;
display: block;
width: 0;
z-index: 1;
top: -15px;
left: 110px;
}

/*Acomodacion para los iconos de las cajas*/
.textContent {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  margin-bottom: 15px;
}

input{
    border-radius: 25px;
    border: none;
    margin-bottom: 25px;
}

.textContent > input{
    padding-left: 10px;
    padding-right: 10px; 
    width: 140px;
    height: 25px;
}

input[type=submit]{
    padding: 10px;
    width: 50%;
    color: dodgerblue;
    background-color: aliceblue;
    border: 3px solid dodgerblue;
}

input[type=submit]:hover{
    cursor: pointer;
    color: aliceblue;
    background-color: dodgerblue;
    border-color: aliceblue;
}

#helpBox > a{
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    text-decoration: none;
}

#helpBox a:hover{
    color: dodgerblue;
}

/*Imagenes*/
#logIMG{
    margin-top: 10px;
    margin-bottom: 20px;
}

#bigImage{
    width: 100%;
    height: 100vh;
    clip-path: polygon(35% 0, 100% 0, 100% 100%, 20% 100%, 0 57%);
}

/*Box info actions*/
.contentInfo:hover{
    cursor: pointer;
    background-color: dodgerblue;
}

#videogame:hover + .bubble {
    visibility: visible;
}
#community:hover + .bubble {
    visibility: visible;
}
#review:hover + .bubble {
    visibility: visible;
}

.quoteContainer {
    position: absolute;
    right: 30px;
    bottom: 10px;
}

.quoteContainer > h1,p{
    font-family: var(--font);
    color: var(--textColor);
}

/*Responsive actions*/
@media only screen and (max-width: 600px) {
    .container{
        display: inline;
        padding: auto;
    }

    .container > #right,.quoteContainer{
        display: none;
    }
  }