@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
    --font: 'Roboto', sans-serif;
    --textColor: whitesmoke;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100vh;
    background-color: #26262B;
    text-align: center;
}

.container{
    background: url("../images/signUp/red-dead-redemption-2-3376.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    height: 100%;
}

.signUpContainer{
    opacity: 0.8;
    position: relative;
    top: 20px;
    margin: auto;
    padding: 10px;
    border-radius: 25px;
    width: 300px;
    height: 400px;
    background-color: #26262B;
}

i{
    color: white;
}

.textContent {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    margin-bottom: 15px;
}
  
input{
    border-radius: 25px;
    border: none;
    margin-bottom: 25px;
}
  
.textContent > input{
    padding-left: 40px;
    padding-right: 10px; 
    width: 250px;
    height: 35px;
}
  
input[type=submit]{
    padding: 10px;
    width: 50%;
    color: dodgerblue;
    background-color: aliceblue;
    border: 3px solid dodgerblue;
}
  
input[type=submit]:hover{
    cursor: pointer;
    color: aliceblue;
    background-color: dodgerblue;
    border-color: aliceblue;
}

#helpBox > a{
    position: relative;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    text-decoration: none;
}

#helpBox a:hover{
    color: dodgerblue;
}

/*Responsive actions*/
@media only screen and (max-width: 600px) {
    .container{
        display: inline;
        padding: auto;
    }

    .signUpContainer{
        background-color: dimgrey;
    }
}